.thema{
    margin: 20px;
    display: flex;
    justify-content: end;
}

.dark {
    background-color: black;
    color: white;
}

.edit, .hapus, .save, .tambah {
    padding: 5px;
    margin: 5px;
}

.btn{
    padding: 5px;

}